In [47]:
import pandas as pd

urlstops = 'https://raw.githubusercontent.com/dustinhodges/DS-Unit-2-Applied-Modeling/master/MplsStops.csv'
urldemo = 'https://raw.githubusercontent.com/dustinhodges/DS-Unit-2-Applied-Modeling/master/MplsDemo.csv'

stops = pd.read_csv(urlstops)
stops.shape

(51920, 15)

In [48]:
stops.head()

,Unnamed: 0,idNum,date,problem,MDC,citationIssued,personSearch,vehicleSearch,preRace,race,gender,lat,long,policePrecinct,neighborhood
0,6823,17-000003,2017-01-01 00:00:42,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Unknown,44.966617,-93.246458,1,Cedar Riverside
1,6824,17-000007,2017-01-01 00:03:07,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Male,44.980450,-93.271340,1,Downtown West
2,6825,17-000073,2017-01-01 00:23:15,traffic,MDC,NaN,NO,NO,Unknown,White,Female,44.948350,-93.275380,5,Whittier
3,6826,17-000092,2017-01-01 00:33:48,suspicious,MDC,NaN,NO,NO,Unknown,East African,Male,44.948360,-93.281350,5,Whittier
4,6827,17-000098,2017-01-01 00:37:58,traffic,MDC,NaN,NO,NO,Unknown,White,Female,44.979078,-93.262076,1,Downtown West

In [49]:
demo = pd.read_csv(urldemo)
demo.head()

,Unnamed: 0,neighborhood,population,white,black,foreignBorn,hhIncome,poverty,collegeGrad
0,1,Cedar Riverside,8247,0.353,0.464,0.408,18892,0.060,0.258
1,3,Phillips West,5184,0.199,0.538,0.318,18404,0.042,0.211
2,4,Downtown West,7141,0.561,0.211,0.203,67086,0.057,0.551
3,5,Downtown East,1674,0.543,0.221,0.221,70669,0.071,0.577
4,6,Shingle Creek,3249,0.407,0.259,0.140,59414,0.110,0.247

In [50]:
minn = pd.merge(stops, demo, how='outer', on='neighborhood')

print(minn.shape)
minn.head()

(51920, 23)

,Unnamed: 0_x,idNum,date,problem,MDC,citationIssued,personSearch,vehicleSearch,preRace,race,...,policePrecinct,neighborhood,Unnamed: 0_y,population,white,black,foreignBorn,hhIncome,poverty,collegeGrad
0,6823,17-000003,2017-01-01 00:00:42,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,...,1,Cedar Riverside,1.0,8247.0,0.353,0.464,0.408,18892.0,0.06,0.258
1,6834,17-000161,2017-01-01 01:15:01,traffic,other,NaN,NaN,NaN,NaN,NaN,...,1,Cedar Riverside,1.0,8247.0,0.353,0.464,0.408,18892.0,0.06,0.258
2,6909,17-001251,2017-01-01 23:45:15,traffic,other,NaN,NaN,NaN,NaN,NaN,...,1,Cedar Riverside,1.0,8247.0,0.353,0.464,0.408,18892.0,0.06,0.258
3,6992,17-002190,2017-01-02 21:46:12,suspicious,MDC,NaN,NO,NO,White,White,...,1,Cedar Riverside,1.0,8247.0,0.353,0.464,0.408,18892.0,0.06,0.258
4,7134,17-003851,2017-01-04 09:06:24,traffic,other,NaN,NaN,NaN,NaN,NaN,...,1,Cedar Riverside,1.0,8247.0,0.353,0.464,0.408,18892.0,0.06,0.258

[ ] Choose your target. Which column in your tabular dataset will you predict?

'outcome', a newly engineered column will be our target. First we will clean three other columns in order to combine them:

In [51]:
minn['citationIssued'].value_counts()

NO     15899
YES     3211
Name: citationIssued, dtype: int64

In [52]:
minn['personSearch'].value_counts()

NO     38462
YES     5237
Name: personSearch, dtype: int64

In [55]:
minn['vehicleSearch'].value_counts()

NO         40579
Unknown     8221
YES         3120
Name: vehicleSearch, dtype: int64

In [53]:
minn = minn.fillna('Unknown')

In [54]:
minn.head()

,Unnamed: 0_x,idNum,date,problem,MDC,citationIssued,personSearch,vehicleSearch,preRace,race,...,policePrecinct,neighborhood,Unnamed: 0_y,population,white,black,foreignBorn,hhIncome,poverty,collegeGrad
0,6823,17-000003,2017-01-01 00:00:42,suspicious,MDC,Unknown,NO,NO,Unknown,Unknown,...,1,Cedar Riverside,1,8247,0.353,0.464,0.408,18892,0.06,0.258
1,6834,17-000161,2017-01-01 01:15:01,traffic,other,Unknown,Unknown,Unknown,Unknown,Unknown,...,1,Cedar Riverside,1,8247,0.353,0.464,0.408,18892,0.06,0.258
2,6909,17-001251,2017-01-01 23:45:15,traffic,other,Unknown,Unknown,Unknown,Unknown,Unknown,...,1,Cedar Riverside,1,8247,0.353,0.464,0.408,18892,0.06,0.258
3,6992,17-002190,2017-01-02 21:46:12,suspicious,MDC,Unknown,NO,NO,White,White,...,1,Cedar Riverside,1,8247,0.353,0.464,0.408,18892,0.06,0.258
4,7134,17-003851,2017-01-04 09:06:24,traffic,other,Unknown,Unknown,Unknown,Unknown,Unknown,...,1,Cedar Riverside,1,8247,0.353,0.464,0.408,18892,0.06,0.258

In [56]:
end = minn['citationIssued'] + minn['personSearch'] + minn['vehicleSearch']
minn['outcome'] = end

minn['outcome'].value_counts()

UnknownNONO              21406
NONONO                   13805
UnknownUnknownUnknown     8221
YESNONO                   2662
UnknownYESYES             1452
UnknownYESNO              1422
NOYESNO                   1076
NOYESYES                   828
UnknownNOYES               309
YESYESYES                  251
YESYESNO                   208
NONOYES                    190
YESNOYES                    90
Name: outcome, dtype: int64

[ ] Is your problem regression or classification?

Classification. Now we will define and refine our classes:

In [57]:
minn.outcome = minn.outcome.replace({"UnknownNONO": "none",
                                     "NONONO": "none",
                                     "UnknownUnknownUnknown": "unknown",
                                     "YESNONO": "citation",
                                     "UnknownYESYES": "search",
                                     "UnknownYESNO": "search",
                                     "NOYESNO": "search",
                                     "NOYESYES": "search",
                                     "UnknownNOYES": "search",
                                     "YESYESYES": "search + citation",
                                     "YESYESNO": "search + citation",
                                     "NONOYES": "search",
                                     "YESNOYES": "search + citation"}
                                   ) 

minn['outcome'].value_counts()

none                 35211
unknown               8221
search                5277
citation              2662
search + citation      549
Name: outcome, dtype: int64

In [60]:
none = 35211
unknown = 8221
search = 5277
citation = 2662
both = 549
total = none + unknown + search + citation + both
total

51920

In [61]:
none / total

0.6781779661016949

In [62]:
both / total

0.010573959938366718

[ ] How is your target distributed?
Classification: How many classes? Are the classes imbalanced?
Regression: Is the target right-skewed? If so, you may want to log transform the target.

'outcome' has 5 discrete classes: 
none, unknown, search, citation, search + citation.

'none' occurs 68% of the time. 'search + citation' occurs 1% of the time.

In [58]:
minn['race'].value_counts()

Unknown            17440
Black              15220
White              11703
East African        2188
Latino              1858
Native American     1516
Other               1348
Asian                647
Name: race, dtype: int64

In [12]:
minn['problem'].value_counts()

traffic       26098
suspicious    25822
Name: problem, dtype: int64

[ ] Choose which observations you will use to train, validate, and test your model.
Are some observations outliers? Will you exclude them?
Will you do a random split or a time-based split?

There are no 'outliers' in this case with the possible exception of 'unknown' values where presumably the data was not recorded by police officers. We will not exclude them because we want our app to handle incomplete input information.
I will use a random split for train, test, validation.

[ ] Choose your evaluation metric(s).
Classification: Is your majority class frequency > 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?

I can use accuracy but I'll also want to explore precision and recall for certain classes. For example, predicting a particular outcome for a particular demographic etc could be "false alarm" or "failure to warn". Must decide which is worse...

In [63]:
print(minn.shape)
minn.head()

(51920, 24)

,Unnamed: 0_x,idNum,date,problem,MDC,citationIssued,personSearch,vehicleSearch,preRace,race,...,neighborhood,Unnamed: 0_y,population,white,black,foreignBorn,hhIncome,poverty,collegeGrad,outcome
0,6823,17-000003,2017-01-01 00:00:42,suspicious,MDC,Unknown,NO,NO,Unknown,Unknown,...,Cedar Riverside,1,8247,0.353,0.464,0.408,18892,0.06,0.258,none
1,6834,17-000161,2017-01-01 01:15:01,traffic,other,Unknown,Unknown,Unknown,Unknown,Unknown,...,Cedar Riverside,1,8247,0.353,0.464,0.408,18892,0.06,0.258,unknown
2,6909,17-001251,2017-01-01 23:45:15,traffic,other,Unknown,Unknown,Unknown,Unknown,Unknown,...,Cedar Riverside,1,8247,0.353,0.464,0.408,18892,0.06,0.258,unknown
3,6992,17-002190,2017-01-02 21:46:12,suspicious,MDC,Unknown,NO,NO,White,White,...,Cedar Riverside,1,8247,0.353,0.464,0.408,18892,0.06,0.258,none
4,7134,17-003851,2017-01-04 09:06:24,traffic,other,Unknown,Unknown,Unknown,Unknown,Unknown,...,Cedar Riverside,1,8247,0.353,0.464,0.408,18892,0.06,0.258,unknown

[ ] Begin to clean and explore your data.

visualizations,

[ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

drop: 

Unnamed:0_x, Unnamed:0_y, idNum, citationIssued, personSearch, vehicleSearch, 

engineer:

time of day, time of year from date, race of neighborhood, demographics etc...

explore MDC, preRace versus race